@import './../../../../styles/styles.scss';

.modal-complete {
    p {
        font-size: 12px;
        color: $white;
        white-space: pre-wrap
    }
}

.remodal-close {
    left: calc(100% - 35px);
    background: $red;
    width: 5%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: visible;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-transition: color .2s;
    transition: color .2s;
    text-decoration: none;
    color: #95979c;
    border: 0;
    outline: 0;
    background: 0 0;

    &:before {
        content: "";
        font-family: "Font Awesome 5 Free";
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-weight: 900;
        font-size: 14px;
        line-height: 35px;
        color: $white
    }
}

.btn-continue {
    margin-top: 5px;
    background: $red;
    width: 100%;
    color: $white;
    font-weight: 900;
    background: $red;
    text-transform: uppercase;
    min-height: 30px;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    &:disabled {
        color: black;
        background: $white;
    }
}

.product-select {
    .content {
        .product-detail-wrapper {
            font-size: .75rem;

            h4 {
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 900;
                color: $blue
            }

            p {
                font-size: 12px;
            }

            img {
                max-width: 200px;
                margin: auto;
                display: block;
                margin-top: 10px;
                margin-bottom: 20px;
                width: 100%
            }
        }

        .product-option {

            input[type="checkbox"],
            input[type="radio"],
            input[type="checkbox"]+label,
            input[type="radio"]+label {
                display: inline-block;
                width: auto;
            }

        }
    }
}

@media (min-width: $breakpoint-lg) {

    .product-select,
    .modal-complete {
        max-width: 900px;

        p {
            font-size: 24px;
            text-align: center;
        }
    }

    .product-select {
        .content {
            display: flex;
            display: -webkit-box;
            display: -ms-flexbox;
            height: 500px;
            overflow-y: auto;
            .product-detail-wrapper {
                max-width: 350px;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                margin-right: 3rem;

                h4 {
                    font-size: 24px;
                }

                p {
                    font-size: 16px;
                }

                img {
                    max-width: 350px;
                }

                .price {
                    font-size: 18px;
                    font-weight: 900;
                    color: #fff;
                    font-style: italic;
                    text-align: center;
                    padding-bottom: 4px;
                    border-bottom: 2px dotted rgba(255, 255, 255, .2);
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                    margin: 0 auto 1.5rem
                }


            }
        }
    }

    .remodal-close {
        left: 100%;
        background: $red;
    }
}